$--colors: (
    "primary": (
        "base": #8CAB91,
    ),
    "success": (
        "base": #98B59C,
    ),
    "warning": (
        "base": #FFB049,
    ),
    "danger": (
        "base": #FF97AC,
    ),
    "error": (
        "base": #FF97AC,
    ),
    "info": (
        "base": #808A87,
    ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: $--colors,
    $button-padding-horizontal: ("default": 50px)
);

@use "./dark.scss";
