@font-face {
  font-family: "iconfont"; /* Project id 3528419 */
  src: url('iconfont.ttf?t=1659454073930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e860";
}

.icon-tile:before {
  content: "\e657";
}

.icon-list:before {
  content: "\e658";
}

.icon-delete:before {
  content: "\e64c";
}

.icon-arrowUp:before {
  content: "\e62e";
}

.icon-arrowDown:before {
  content: "\e62f";
}

.icon-like:before {
  content: "\e607";
}

.icon-down:before {
  content: "\ee1f";
}

.icon-up:before {
  content: "\ee20";
}

.icon-hot:before {
  content: "\e61c";
}

.icon-read:before {
  content: "\e608";
}

.icon-lineChart:before {
  content: "\e85e";
}

.icon-arrowLeft:before {
  content: "\ee23";
}

.icon-arrowRight:before {
  content: "\e62d";
}

.icon-book:before {
  content: "\e60d";
}

.icon-collect:before {
  content: "\e60e";
}

.icon-clock:before {
  content: "\e60f";
}

.icon-dustbin:before {
  content: "\e610";
}

.icon-circleFail:before {
  content: "\e611";
}

.icon-edit:before {
  content: "\e612";
}

.icon-circleLeft:before {
  content: "\e613";
}

.icon-label:before {
  content: "\e615";
}

.icon-message1:before {
  content: "\e616";
}

.icon-news:before {
  content: "\e617";
}

.icon-circleRight:before {
  content: "\e618";
}

.icon-circleSuccess:before {
  content: "\e619";
}

.icon-circleMore:before {
  content: "\e61a";
}

.icon-search1:before {
  content: "\e61b";
}

.icon-user:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e636";
}

.icon-calendar:before {
  content: "\e63e";
}

.icon-bookcase:before {
  content: "\e614";
}

.icon-history:before {
  content: "\e66d";
}

.icon-message:before {
  content: "\e64b";
}

.icon-home:before {
  content: "\e603";
}

