@font-face {
  font-family: "iconfont"; /* Project id 3528419 */
  src: url('iconfont.ttf?t=1676560858869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e6dd";
}

.icon-callCenter:before {
  content: "\e621";
}

.icon-remind:before {
  content: "\e632";
}

.icon-like:before {
  content: "\e633";
}

.icon-tip:before {
  content: "\e634";
}

.icon-sun:before {
  content: "\e635";
}

.icon-comment:before {
  content: "\e609";
}

.icon-classification:before {
  content: "\e61f";
}

.icon-calendar:before {
  content: "\e620";
}

.icon-download:before {
  content: "\e622";
}

.icon-educate:before {
  content: "\e623";
}

.icon-folder:before {
  content: "\e624";
}

.icon-home:before {
  content: "\e625";
}

.icon-user:before {
  content: "\e626";
}

.icon-picture:before {
  content: "\e627";
}

.icon-mailList:before {
  content: "\e628";
}

.icon-notebook:before {
  content: "\e62a";
}

.icon-plus:before {
  content: "\e62b";
}

.icon-staff:before {
  content: "\e62c";
}

.icon-upload:before {
  content: "\e630";
}

.icon-reduce:before {
  content: "\e631";
}

.icon-wechat:before {
  content: "\e61d";
}

.icon-weibo:before {
  content: "\e61e";
}

.icon-qq:before {
  content: "\e629";
}

.icon-arrowUp:before {
  content: "\e62e";
}

.icon-arrowDown:before {
  content: "\e62f";
}

.icon-down:before {
  content: "\ee1f";
}

.icon-up:before {
  content: "\ee20";
}

.icon-hot:before {
  content: "\e61c";
}

.icon-read:before {
  content: "\e608";
}

.icon-lineChart:before {
  content: "\e85e";
}

.icon-arrowLeft:before {
  content: "\ee23";
}

.icon-arrowRight:before {
  content: "\e62d";
}

.icon-book:before {
  content: "\e60d";
}

.icon-collect:before {
  content: "\e60e";
}

.icon-clock:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e610";
}

.icon-circleFail:before {
  content: "\e611";
}

.icon-edit:before {
  content: "\e612";
}

.icon-circleLeft:before {
  content: "\e613";
}

.icon-label:before {
  content: "\e615";
}

.icon-message1:before {
  content: "\e616";
}

.icon-news:before {
  content: "\e617";
}

.icon-circleRight:before {
  content: "\e618";
}

.icon-circleSuccess:before {
  content: "\e619";
}

.icon-circleMore:before {
  content: "\e61a";
}

.icon-search1:before {
  content: "\e61b";
}

.icon-search:before {
  content: "\e636";
}

.icon-bookcase:before {
  content: "\e614";
}

.icon-history:before {
  content: "\e66d";
}

.icon-message:before {
  content: "\e64b";
}

