@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
    --mainColor: #8CAB91;
    --hoverColor: #F3FAF1;
    --backColor: #E6F6E4;
    --activeColor: #CDE5CC;
    --textColor: #666666;
    --stressColor: #474747;
    --dimColor: #E5E5E5;
    --borderColor: #DCE6DC;
    --mainHoverColor: #98B59C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--textColor);
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto hidden;
}

#app {
    position: relative;
    width: auto;
    height: 100vh;
    /* min-width: 1080px; */
    user-select: none;
    background: var(--backColor);
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}
.hidden-scrollbar::-moz-scrollbar {
    display: none;
}
.hidden-scrollbar::-ms-scrollbar {
    display: none;
}

.iconfont {
    display: inline-block;
    font-size: 12px;
}
.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 30px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--activeColor);
}

/* input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
    box-shadow: inset 0 0 0 1000px #fff !important;
  } */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
