@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@import "./media/media.scss";

:root {
    --mainColor: #8CAB91;
    --hoverColor: #F3FAF1;
    --backColor: #EFF9F4;
    // --backColor: #E6F6E4;
    --activeColor: #CDE5CC;
    --textColor: #929594;
    --stressColor: #474747;
    --dimColor: #D8E0DD;
    --borderColor: #DCE6DC;
    --greyColor: #ECF0ED;
    --mainHoverColor: #98B59C;
    --whiteColor: #FFFFFF;
    --successColor: #3D77FF;
    --warningColor: #FFB049;
    --dangerColor: #FF97AC;
    --infoColor: #808A87;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto hidden;
}

#app {
    display: flex;
    width: auto;
    height: 100vh;
    // min-width: 780px;
    user-select: none;
    background: var(--backColor);
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}
.hidden-scrollbar::-moz-scrollbar {
    display: none;
}
.hidden-scrollbar::-ms-scrollbar {
    display: none;
}

.iconfont {
    display: inline-block;
    font-size: 12px;
}
.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 30px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(104, 134, 70, 0.1);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--activeColor);
}

/* input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
    box-shadow: inset 0 0 0 1000px #fff !important;
  } */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** 
    transition 动画
**/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeToTop {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// 文字提示自定义样式
.el-popper.is-customized {
    color: #929594;
    padding: 6px 12px;
    // background: linear-gradient(90deg, #9fe597, #cce581);
    background: linear-gradient(90deg, #b3e5b1, #f2f4e0);
}

.el-popper.is-customized .el-popper__arrow::before {
    background: linear-gradient(45deg, #b3e5b1, #b3e5b1);
    right: 0;
}