:root {
  --backColor: #F6FCF2;
  --hoverColor: #EDF7E6;
  --activeColor: #D8E3D9;
  --mainColor: #8CAB91;
  --textColor: #737A74;
  --stressColor: #0B172A;
  --dimColor: #BDBDBD;
  --borderColor: #E4E6E8;
}

* {
  margin: 0;
  padding: 0;
  color: var(--textColor);
  box-sizing: border-box;
}

#app {
  position: relative;
  width: auto;
  height: 100vh;
  min-width: 1080px;
  user-select: none;
  background: var(--backColor);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar::-moz-scrollbar {
  display: none;
}
.hidden-scrollbar::-ms-scrollbar {
  display: none;
}

.iconfont {
  display: inline-block;
  font-size: 12px;
}
.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--activeColor);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
